body {
  font-size: 100%;
  font-family: 'Slabo 27px', serif;
}

.jumbotron {
  position: relative;
  background: #ddd url("http://tells1.tk/_images/jumbotron-bg.JPG") center center;
  width: 100%;
  height: 500px;
  background-size: cover;
  overflow: hidden;
}

.jumbotron h1 {
  color: #fff;
  padding-left: 25px;
}

.jumbotron small {
  color: #ddd;
}

.jumbotron .first-btn{
  margin-left: 50px;
}

.col-md-10 h2{
  margin-left: 1em;
}

.row {
  padding-left: 2em;
}

.work p {
  font-size: 150%;
}

.work p+h4 {
  padding-top: 15px;
}

.side-projects {
  background-color: #eee;
  padding-top: 10px;
  padding-bottom: 10px;
}

.side-projects-fader {
  opacity: 0;
  transition: .5s;
}

.side-projects img {
  border: 3px solid #333;
  border-radius: 5px;
}

.skills {
  margin-top: 5px;
  padding-top: 5px;
}
.skill-group-head {
  font-weight: bold;
}

.footer {
  background-color: #222;
  color: #fff;
  margin-top: 5px;
}

.footer .container {
  height: 50px;
}

.footer p {
  padding: 1em;
  font-size: 120%;
}

@media (max-width:1280px){
  .section-title {
    padding-top: 1.5em;
    text-decoration: underline;
  }
  .side-projects img {
    height: 75%;
    width: 75%;
  }
}

@media (max-width:767px){
  .side-projects img {
    height: 50%;
    width: 50%;
  } 
}

@media (max-width:500px){
  .side-projects img {
    height: 75%;
    width: 75%;
  } 
}