body {
  font-size: 100%;
  font-family: 'Slabo 27px', serif;
}

.jumbotron {
  position: relative;
  background: #ddd url("http://tells1.tk/_images/jumbotron-bg.JPG") center center;
  background-size: cover;
  overflow: hidden;
}

.jumbotron h1 {
  color: #fff;
}

.jumbotron small {
  color: #ddd;
}

.row {
  padding-left: 2em;
}

.work p {
  font-size: 150%;
}

.work p+h4 {
  padding-top: 15px;
}

.side-projects {
  background-color: #eee;
  padding-top: 10px;
  padding-bottom: 10px;
}

.side-projects img {
  border: 3px solid #333;
  border-radius: 5px;
}

.skill-group-head {
  font-weight: bold;
}

.footer {
  background-color: #222;
  color: #fff;
  margin-top: 5px;
}

.footer .container {
  height: 50px;
}

.footer p {
  padding: 1em;
  font-size: 120%;
}