/********
SITE-WIDE
********/

body {
  font-size: 100%;
  height: 100%;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  margin: 0;
  padding: 0.5em 0.25em;
}

p {
  font-family: 'Neuton', serif;
  font-size: 3em;
  margin: 1em 4em;
}

label {
  font-size: 3em;
}

a.light {
  color: #D4956A;
}

.container-fluid {
  width: 100%;
}

.row {
  padding-left: 2em;
}

/*************
MAJOR SECTIONS
*************/

/* JUMBOTRON
***********/

.jumbotron {
  background: #ddd url("http://timothyjellison.github.io/public/images/jumbotron-bg.JPG") center center;
  background-size: cover;
  overflow: hidden; 
  font-family: 'Montserrat', sans-serif;
  padding: 0 10%;
  height: 300px;
  width: 100%;
  margin-right: 0px;
  margin-bottom: 0px;
}

.jumbotron h1 {
  margin-top: 1em;
  color: #fff;
}

.jumbotron .myName {
  margin-left: -10px;
}

.jumbotron small {
  color: #eee;
}

.jumbotron .btn-group {
  margin-top: 1em;
}

.jumbotron a[type="button"]{
  background-color: transparent;
  border: 2px solid white;
  color: white;
  margin: 5px 5px;
  padding: 16px;
  font-size: 14px;
}

.jumbotron a[type="button"]:hover{
  background-color: rgba(200,200,200,0.5);
  color: white;
}

/* ABOUT ME
**********/

.row.about-me {
  margin-top: 0;
  background-color: #eeeeff;
  padding: 0 10%;
}

.about-me img {
  border-radius: 50%;
  height: 250px;
  width: 250px;
  float: left;
  margin-top: 4em;
}

.about-me p + ul {
  clear: left;
}

.about-me ul {
  vertical-align: top;
  display: inline;
  margin-top: 20px;
}

.about-me li {
  font-family: 'Neuton', serif;
  font-size: 3em;
  margin: 0 1em;
  padding-top: 0;
  border: none;
  background-color: inherit;
  list-style: none;
  line-height:1.5em;
  float:left;
  display:inline;
  width: 15%;
}

.about-me ul + p {
  padding-top: 0.75em;
  clear: left;
}

/* SAMPLES
*********/

.row.examples {
  background-color: #29749C;
  padding: 0 10%;
}

.example {
  padding: 2em 0;
}

/* CONTACT INFO
**************/

.row.contact-info {
  padding-top: 4em;
  padding-bottom: 1em;
  background-color: #eeeeff;
}

.contact-info p {
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 1em;
}

/* FOOTER
********/

.footer {
  background-color: #222;
  color: #fff;
}

.footer .container {
  height: 100%;
}

.footer p {
  padding: 1em;
  font-size: 120%;
}



/************
MEDIA QUERIES
************/

/* BIG SCREENS
*************/

@media screen and (min-width: 1200px){
  .jumbotron {
    height: 500px;
  }

  .jumbotron a[type="button"]{
    border: 5px solid white;
    margin: 10px 10px;
    padding: 26px;
    font-size: 20px;
  }
}

/* MEDIUM SCREENS
****************/

@media screen and (max-width: 1200px){
  p {
    margin: 0;
    padding: 0.5em 0.25em;
    font-size: 3em;
  }

  .jumbotron {
    height: 500px;
  }

  .jumbotron a[type="button"]{
    border: 5px solid white;
    margin: 8px 8px;
    padding: 22px;
    font-size: 18px;
  }

  .about-me img {
    height: 200px;
    width: 200px;
    margin: 1em 1em 0 0;
  }

  .about-me li {
    font-size: 2.5em;
    width: 12%;
  }

  .example img {
    height: 90%;
    width: 90%;
  }
}

/* SMALL SCREENS
***************/

@media screen and (max-width: 768px){
  p {
    padding: 0.5em 0.15em;
    font-size: 2.5em;
  }

  h1 {
    padding: 0.5em 0.15em;
  }

  .jumbotron {
    height: 400px;
  }

  .jumbotron h1 {
    font-size: 52px;
  }

  .jumbotron a[type="button"]{
    border: 3px solid white;
    padding: 8px;
    font-size: 16px;
  }

  .row.about-me *  {
    padding-left: 0;
  }

  .about-me img {
    height: 150px;
    width: 150px;
    margin: 1em 1em 0 0;
  }

  .about-me p+ul {
    margin-top: 1em;
  }

  .about-me ul:nth-of-type(1), .about-me ul:nth-of-type(2) {
    margin-bottom: 0;
  }
  
  .about-me li {
    width: 20%;
  }
}

/* EXTRA-SMALL SCREENS
*********************/

@media screen and (max-width: 430px){
  p {
    padding: 0em 0.15em;
  }

  h1 {
    padding: 0em 0.15em;
  }
  
  small {
    font-size: 24px;
  }

  .jumbotron {
    height: 200px;
  }

  .jumbotron h1 {
    font-size: 36px;
  }

  .jumbotron small {
    margin-left: -6px;
  }

  .jumbotron a[type="button"]{
    margin: 5px 5px;
    padding: 5px;
    font-size: 12px;
  }

  .about-me li {
    width: 25%;
  }
}