<div class="container">
  <div class="columns">
    <div class="column is-10 is-offset-1">
      <div class="content is-size-4">
        <picture>
          <source srcset="https://res.cloudinary.com/dzwa7qhj1/image/upload/v1523146834/fullsizeoutput_e44.webp">
          <source srcset="https://res.cloudinary.com/dzwa7qhj1/image/upload/v1523146834/fullsizeoutput_e44.jpg">
          <img class="about-me__image image is-pulled-left" src="https://res.cloudinary.com/dzwa7qhj1/image/upload/v1523146834/fullsizeoutput_e44.jpg" alt="Picture of Tim">
        </picture>
        <p class="editable">
          I'm a front-end web developer with 4+ years' experience building websites and apps for companies including Comcast, IBM, and Caterpillar.
        </p>
        <p class="editable">
          I favor well-crafted, performant, accessible systems built with open-source technologies. I love working with <a href="https://jamstack.org/" target="_blank">the JAMstack</a>, <a href="https://reactjs.org/" target="_blank">React</a>, and <a href="https://nodejs.org" target="_blank">Node</a>.
        </p>
        <div class="is-clearfix"></div>
      </div>
    </div>
  </div>
</div>