<footer class="footer">
  <div class="container">
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/brands.js" integrity="sha384-qJKAzpOXfvmSjzbmsEtlYziSrpVjh5ROPNqb8UZ60myWy7rjTObnarseSKotmJIx" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/fontawesome.js" integrity="sha384-2IUdwouOFWauLdwTuAyHeMMRFfeyy4vqYNjodih+28v2ReC+8j+sLF9cK339k5hY" crossorigin="anonymous"></script>
    <div class="content has-text-centered editable">
      <a class="footer__icon" href="https://github.com/timothyjellison">
        <i class="fab fa-github fa-3x"></i>
      </a>
      <a class="footer__icon" href="https://twitter.com/timothyjellison">
        <i class="fab fa-twitter fa-3x"></i>
      </a>
      <a class="footer__icon" href="https://codepen.io/tellison/">
        <i class="fab fa-codepen fa-3x"></i>
      </a>
    </div>
    <div class="content has-text-centered editable">
      Timothy Ellison &copy; 2018
    </div>
  </div>
</footer>