<div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <span class="navbar-burger burger" data-target="navbarMenuHeroA">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item is-active" href="/">
              Home
            </a>
            <a class="navbar-item" href="/about">
              About
            </a>
            <a class="navbar-item" href="/blog">
              Blog
            </a>
          </div>
        </div>
      </div>
    </nav>
  </div>