
.page {
  display: grid;
  grid-template-rows: 33em auto 50px;

  @include mediumScreen {
    grid-template-rows: 40em auto 50px;
  }

  > * {
    padding-left: $font-md;
    padding-right: $font-md;

    @include mediumScreen {
      padding-left: $mediumPageGutter;
      padding-right: $mediumPageGutter;
    }

    @include largeScreen {
      padding-left: $largePageGutter;
      padding-right: $largePageGutter;
    }
  }
}

.spinner {
  position: absolute;
  top: 50vh;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  transition: ease-out 0.5s;
}

.nav {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 10vw;
  color: white;
  display: flex;
}

.blog-grid {
  @include mediumScreen {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: $mediumPageGutter;
  }
}

.blog-grid__separator {
  margin-bottom: $font-lg;
}



.post,
.post-excerpt {
  padding-bottom: $font-xl;
}

.post {
  a {
    color: $blue;
  }
}

.post__title {
  font-size: $font-lg;
  padding-bottom: $font-xs;
}

.post__read-more-link {
  color: $blue;
}


.header {
  padding-top: 10em;
  padding-bottom: 16em;
  font-family: $helvetica;
  position: relative;
  transition: background-color 10s;
  // tartan background pattern
  // all credit to Marta Amada and Lea Verou
  // http://lea.verou.me/css3patterns/#tartan
  background-color: hsl(0, 60%, 40%);
  background-image: repeating-linear-gradient(transparent, transparent 50px, rgba(0,0,0,.4) 50px, rgba(0,0,0,.4) 53px, transparent 53px, transparent 63px, rgba(0,0,0,.4) 63px, rgba(0,0,0,.4) 66px, transparent 66px, transparent 116px, rgba(0,0,0,.5) 116px, rgba(0,0,0,.5) 166px, rgba(255,255,255,.2) 166px, rgba(255,255,255,.2) 169px, rgba(0,0,0,.5) 169px, rgba(0,0,0,.5) 179px, rgba(255,255,255,.2) 179px, rgba(255,255,255,.2) 182px, rgba(0,0,0,.5) 182px, rgba(0,0,0,.5) 232px, transparent 232px),
  repeating-linear-gradient(270deg, transparent, transparent 50px, rgba(0,0,0,.4) 50px, rgba(0,0,0,.4) 53px, transparent 53px, transparent 63px, rgba(0,0,0,.4) 63px, rgba(0,0,0,.4) 66px, transparent 66px, transparent 116px, rgba(0,0,0,.5) 116px, rgba(0,0,0,.5) 166px, rgba(255,255,255,.2) 166px, rgba(255,255,255,.2) 169px, rgba(0,0,0,.5) 169px, rgba(0,0,0,.5) 179px, rgba(255,255,255,.2) 179px, rgba(255,255,255,.2) 182px, rgba(0,0,0,.5) 182px, rgba(0,0,0,.5) 232px, transparent 232px),
  repeating-linear-gradient(125deg, transparent, transparent 2px, rgba(0,0,0,.2) 2px, rgba(0,0,0,.2) 3px, transparent 3px, transparent 5px, rgba(0,0,0,.2) 5px);
  background-attachment: fixed;
}

.header__nav {
  position: absolute;
  top: 16px;
  right: 0;
}

.header__nav ul {
  list-style: none;
}

.header__nav li {
  @include fluid-type(320px, 640px, 16px, 20px);
  display: inline-block;
  padding-right: 1em;
}

.header__nav a {
  color: white;
}

.header__text,
.header__text a {
  color: white;
}

.header__title {
  padding-bottom: $font-md;
}

.main {
  margin-top: 8em;
  transition: opacity 1s;
}

.content-wrapper {
  transition-property: opacity;
  transition: ease-in 1s;
}

.hidden {
  opacity: 0;
}

.about-me__summary {
  margin-bottom: 8em;
}

.about-me__cta {
  text-decoration: underline;
}

.footer {
  color: $gray;
  text-align: center;
}

.screenreader-only {
  position: absolute;
  left: -1000px;
  top: - 1000px;
  opacity: 0;
  visibility: hidden;
}