
.page {
  display: grid;
  grid-template-rows: 30em auto 50px;

  @include mediumScreen {
    grid-template-rows: 40em auto 50px;
  }

  > * {
    padding-left: $font-md;
    padding-right: $font-md;

    @include mediumScreen {
      padding-left: $mediumPageGutter;
      padding-right: $mediumPageGutter;
    }

    @include largeScreen {
      padding-left: $largePageGutter;
      padding-right: $largePageGutter;
    }
  }
}

.blog-grid {
  @include mediumScreen {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: $mediumPageGutter;
  }
}

.blog-grid__separator {
  margin-bottom: $font-lg;
}



.post,
.post-excerpt {
  padding-bottom: $font-xl;
}

.post {
  a {
    color: $blue;
  }
}

.post__title {
  font-size: $font-lg;
  padding-bottom: $font-xs;
}

.post__read-more-link {
  color: $blue;
}


.header {
  padding-top: 10em;
  padding-bottom: 16em;
  font-family: $helvetica;
  background-image: url('../images/jesse-gardner-med.jpg');
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
}

.header[data-title="Comcast"] {
  background-image: url('http://www.ramsa.com/api/sites/default/files/A00007-ESTO-2008A63.420_0.jpg');
  background-position-y: bottom;
}

.header[data-title="Contribution"] {
  background-image: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/1809Tdj/footage-of-computer-display-screen-with-green-moving-text-with-code-in-the-terminal-software_sjbizma2_thumbnail-full01.png');
}

.header__text,
.header__text a {
  color: white;
}

.header__title {
  padding-bottom: $font-md;
}

.main {
  margin-top: 8em;
}

.about-me__summary {
  margin-bottom: 8em;
}

.about-me__cta {
  text-decoration: underline;
}

.footer {
  color: $gray;
  text-align: center;
}
