$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

$font-extra-large: 3rem;
$font-large: 2rem;
$font-medium: 1rem;
$font-small: 0.5rem;

p {
  line-height: 1.35rem;
}
