$helvetica: "Roboto", Helvetica, Arial, sans-serif;
$helveticaNeue: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: "EB Garamond", Georgia, serif;

$font-xl: 4rem;
$font-lg: 2rem;
$font-md: 1.5rem;
$font-sm: 1rem;
$font-xs: 0.5rem;

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $helveticaNeue;
}

h1, .h1 {
  font-size: $font-xl;
}

p {
  font-family: $georgia;
  font-size: $font-md;
  line-height: $font-lg;
  padding-bottom: $font-md;
}

a {
  color: $black;
  text-decoration: none;
}

.twitter-tag,
.linkedin-tag {
  text-decoration: underline;
  text-decoration-color: $blue;
  text-decoration-style: dashed;

  &:hover {
    text-decoration: none;
    color: $white;
    background-color: $blue;
  }
}

.email-tag {
  text-decoration: underline;
  text-decoration-color: $red;
  text-decoration-style: dashed;

  &:hover {
    text-decoration: none;
    color: $white;
    background-color: $red;
  }
}

.github-tag {
  text-decoration: underline;
  text-decoration-color: $darkerGray;
  text-decoration-style: dashed;

  &:hover {
    text-decoration: none;
    color: $white;
    background-color: $darkerGray;
  }
}
