$helvetica: "Roboto", Helvetica, Arial, sans-serif;
$helveticaNeue: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: "EB Garamond", Georgia, serif;

$font-extra-large: 4rem;
$font-large: 2rem;
$font-medium: 1rem;
$font-small: 0.5rem;

p {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
