.post-excerpt {
  border-bottom: 1px solid gray;
  padding-bottom: 2em;
  padding-top: 2em;
  line-height: 1.2;
}

.post-excerpt:hover .title {
  color: hsl(217, 71%, 53%);
}

.post-excerpt__title {
  padding-bottom: 5px;
}

.post-excerpt__final-cta {
  background-color: #0a5a8f;
  color: #fff;
  margin-top: 2em;
  transition: 0.25s;

  &:hover,
  &:active,
  &:focus {
    background-color: #084268;
    color: #fff;
  }
}

.footer__icon {
  color: #363636;

  * {
    max-width: 50px;
  }
}

.about-me__image {
  border-radius: 50%;
  padding-bottom: 1em;
  width: 100%;

  @media screen and (min-width: 769px){
    padding-right: 1em;
    max-width: 320px;
  }
}
