.header,
.header-l,
.header-r {
  background: $red;
}

.masthead {
  display: flex;
  flex: column;
  padding-top: $font-extra-large;

  * {
    color: $white;
  }
}

.site-name {
  font-size: $font-extra-large;
  margin-bottom: $font-large;
}

.site-description {
  font-size: 2.5rem;
}
