.post {
  padding-bottom: $font-extra-large;

  &.post-excerpt:not(:last-child) {
    padding-bottom: $font-large;
    margin-bottom: $font-large;
    border-bottom: 1px dashed $lightGray;
  }
}

.post-title {
  font-size: $font-large;
  padding-bottom: $font-small;
}

.read-more {
  color: $blue;
}
