.post,
.post-excerpt {
  padding-bottom: $font-xl;
}

.post {
  a {
    color: $blue;
  }
}
.post__title {
  font-size: $font-lg;
  padding-bottom: $font-xs;
}

.post__read-more-link {
  color: $blue;
}
