$mediumPageWidth: 80vw; // 80/20 rule
$mediumPageGutter: 50vw - $mediumPageWidth / 2;

$largePageWidth: 61.8vw; // the golden ratio
$largePageGutter: 50vw - $largePageWidth / 2;

.page {
  display: grid;
  grid-template-rows: 400px auto 50px;

  > * {
    padding-left: $font-md;
    padding-right: $font-md;

    @include mediumScreen {
      padding-left: $mediumPageGutter;
      padding-right: $mediumPageGutter;
    }

    @include largeScreen {
      padding-left: $largePageGutter;
      padding-right: $largePageGutter;
    }
  }
}

.blog-grid {
  @include mediumScreen {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: $mediumPageGutter;
  }
}

.blog-grid__separator {
  margin-bottom: $font-lg;
}
