.about-me {
  padding-bottom: $font-xl;
  text-align: justify;
}

.about-me__summary {
  margin-top: $font-lg;
  margin-bottom: $font-lg;
  line-height: 1.8;
  font-size: $font-lg;
}

.about-me__cta {
  background-color: #3b7686;
  color: $white;
  display: block;
  font-size: $font-md;
  margin: $font-lg auto $font-xl;
  max-width: 12em;
  padding: $font-sm;
  text-align: center;

  @include smallScreen {
    padding: $font-lg;
  }

  span {
    display: block;
  }
}

.link-tag {
  text-decoration: underline;
  text-decoration-style: dashed;
  &:hover {
    text-decoration: none;
    color: $white;
  }
}

.twitter-tag,
.linkedin-tag {
  text-decoration-color: $blue;

  &:hover {
    background-color: $blue;
  }
}

.email-tag {
  text-decoration-color: $red;

  &:hover {
    background-color: $red;
  }
}

.github-tag {
  text-decoration-color: $darkerGray;

  &:hover {
    background-color: $darkerGray;
  }
}
