<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

  {% include meta.html %}

  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

  <title>Timothy Ellison - Web Developer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=EB+Garamond|Roboto" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
</head>
<body class="page">
  <header class="header">
    <h1 class="header__site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
    <p class="header__site-description">{{ site.description }}</p>
  </header>

  <main class="main" role="main">
    {{ content }}
  </main>

  <footer class="footer">
    Timothy Ellison &copy; 2017
  </footer>
  {% include analytics.html %}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" rel="stylesheet"></script>
  </body>
</html>
