<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			  <meta charset="UTF-8">
			  <meta name="viewport" content="width=device-width, initial-scale=1.0">
			  <link rel="icon" type="image/png" href="http://www.timothyellison.com/public/images/favicon-96x96.png">
			  <link href="http://www.timothyellison.com/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
			  <link href="http://www.timothyellison.com/public/css/main.css" rel="stylesheet" />
			  <link href='https://fonts.googleapis.com/css?family=Neuton' rel='stylesheet' type='text/css'>
			  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
			  <script src="http://www.timothyellison.com/bower_components/jquery/dist/jquery.min.js"></script> 
			  <script src="http://www.timothyellison.com/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
			  <script src="http://www.timothyellison.com/public/js/main.js" ></script>
		</head>
		<body>
		  <div class="nav">
		    <a href="http://www.timothyellison.com" id="logo"><h1>Tim Ellison<br/><small>front end developer</small></h1></a>
		    <ul>
		      <li><a href="http://timothyellison.com/blog" target="_blank" >Blog</a></li>
		      <li><a href="https://github.com/timothyjellison" target="_blank">GitHub</a></li>
		      <li><a href="https://www.linkedin.com/in/timothyjellison" target="_blank">LinkedIn</a></li>
		      <li><a href="mailto:timothyellison85@gmail.com" target="_blank">Email Me</a></li>
		    </ul>
		  </div>
			<div class="container-fluid">
				<div class="row blogposts">
					<div class="col-xs-12">
						{{ content }}
					</div>
				</div>
			</div><!-- .container-fluid -->
		  <footer class="footer">
		    <div class="container">
		      <p class="text-muted">&copy; 2016 Tim Ellison</p>
		    </div>
		  </footer>
		</body>
	</html>