---
layout: default
---

  <div class="about row">
    <div class="row__content">
      <p>Hi! I'm a full-stack web developer specializing in UIs built with React and Angular. I'm a good hand with all things JavaScript, both client- and server-side, and I have expertise in CSS, HTML, responsive design, cross-browser compatibility, performance, SEO, and accessibility.</p>
    </div>
  </div>

  <div class="desktop-only desktop-only--flex features row">
    <div class="features__row-content row__content">
      <div class="features__feature">
        <div class="hexagon features__hexagon-1"></div>
        <p class="features__description">Modern JavaScript Frameworks</p>
      </div>
      <div class="features__feature">
        <div class="hexagon features__hexagon-2"></div>
        <p class="features__description">Responsive Web Design</p>
      </div>
      <div class="features__feature">
        <div class="hexagon features__hexagon-3"></div>
        <p class="features__description">Performance &amp; Accessibility</p>
      </div>
    </div>
  </div>

  <div class="blog row">
    <div class="row__content row__content-columnar">
      {{ content }}
    </div>
  </div>
</main>
