---
layout: master
---

{% include header.html %}
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-10 is-offset-1">
        {% for post in site.tags.Blog limit:4 %}
          <div class="post-excerpt">
            <a href="{{ site.baseurl }}{{ post.url }}">
              <h3 class="post-excerpt__title title is-size-3">{{ post.title }}</h3>
              <div class="subtitle is-size-4">
                {{ post.excerpt }}
              </div>
            </a>
          </div>
        {% endfor %}
        <div class="column is-10 is-offset-1 has-text-centered">
          <a class="button is-large is-rounded post-excerpt__final-cta" href="/blog">Read More Posts</a>
        </div>
      </div>
    </div>
  </div>
</section>
