---
layout: default
---

<article class="post">
  <h3 class="post__title">{{ page.title }}</h3>

  <div class="entry">
    {{ content }}
  </div>

  <div class="post__date">
    {{ page.date | date: "%B %e, %Y" }}
  </div>

  <div class="post__nav">
    {% if page.previous.url %}
      <a class="post__nav-previous" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
    {% else %}
      <span></span>
    {% endif %}
    {% if page.next.url %}
      <a class="post__nav-next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
    {% endif %}
  </div>

  {% include disqus.html %}
</article>
